/* Wrapper */

.App {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 4rem 2rem;
    z-index: 3;
}

    .App:before {
        content: '';
        display: block;
    }

    @media screen and (max-width: 1680px) {

        .App {
            padding: 3rem 2rem;
        }

    }

    @media screen and (max-width: 736px) {

        .App {
            padding: 2rem 1rem;
        }

    }

    @media screen and (max-width: 480px) {

        .App {
            padding: 1rem;
        }

    }